{% extends "trainer.html" %}
{% block content %}
<style>

        .container {
            text-align: center;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }
        .container h1 {
            margin-bottom: 30px;
            color: #333;
        }
        .container .button {
            display: block;
            width: 200px;
            margin: 10px auto;
            padding: 15px 0;
            font-size: 18px;
            color: white;
            text-decoration: none;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }
        .add-button {
            background-color: #28a745;
        }
        .add-button:hover {
            background-color: #218838;
        }
        .delete-button {
            background-color: #dc3545;
        }
        .delete-button:hover {
            background-color: #c82333;
        }
    </style>

    <div class="container">
        <h1>Teacher Management</h1>
        <a href="/teacher_signup" class="button add-button">Add Teacher</a>
        <a href="/delete_teachers" class="button delete-button">Remove Teacher</a>

    </div>
{% endblock %}
