<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecturer Dashboard</title>
    <!-- -------Styles------- -->
     <link rel="stylesheet" href="static/css/style1.css">

</head>
<body>
     <!-- ---------------Navigation Bar----------------- -->
    <div class="container">
        <div class="navigation ">
            <ul>
                <li>
                    <a href="#">
                        <img src="{{ url_for('static', filename='images/your_uploaded_image.jpg') }}" alt="Uploaded Logo">

                    </a>
                </li>

                <li>
                    <a href="{{url_for('teacher_home')}}">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="newspaper-outline"></ion-icon></span>
                        <span class="title">Averages For Each Sub</span>
                    </a>
                </li>
                 <li>
                   <a href="{{ url_for('type_check') }}">
                        <span class="icon"><ion-icon name="clipboard"></ion-icon></span>
                        <span class="title">View Exam scores</span>
                    </a>
                </li>
                <li>
                   <a href="{{ url_for('view_students_marks') }}">
                        <span class="icon"><ion-icon name="clipboard"></ion-icon></span>
                        <span class="title">Set Exam scores</span>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('tsetting')}}">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="title">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                        <span class="title">Change Password</span>
                    </a>

                </li>
                <li>
                    <a href="{{ url_for('logout') }}">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">Log Out</span>
                    </a>

                </li>

            </ul>
        </div>
        <!-- -------- Main ------------- -->
    </div>
    <!-- -------Scripts------- -->
<!--     <script src="assets/js/main.js"></script>-->
     <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon class="Menu" name="menu"></ion-icon>
            </div>

            <div class="user">
                <img src="{{profile_pic}}" alt="profile picture">
            </div>

        </div>

{% block content %}{% endblock %}

     </div>
<script src="/static/js/main.js"></script>

    <!---------------Ionicons------------------------>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
    // On page load, check if the other page's title is stored in localStorage
    window.onload = function() {
        var savedTitle = localStorage.getItem('TeacherTitle');
        if (savedTitle) {
            document.title = savedTitle; // Change the title if found in localStorage
        }
    }
</script>

</body>
</html>