{% extends "trainer.html" %}
{% block content %}
    <style>
        .container {
            text-align: center;
            background-color: #fff;
            padding: 40px 20px;
            border-radius: 8px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            margin: auto;
        }
        .container h1 {
            font-size: 36px;
            margin-bottom: 10px;
            color: #28a745;
        }
        jhj
        .container p {
            font-size: 18px;
            margin-bottom: 20px;
            color: #555;
        }
        .container .checkmark {
            font-size: 50px;
            color: #28a745;
            margin-bottom: 20px;
        }
        
        @media (max-width: 576px) {
            .container {
                max-width: 90%;
                padding: 20px 10px;
            }
            .container h1 {
                font-size: 24px;
            }
            .container p {
                font-size: 14px;
            }
            .container .checkmark {
                font-size: 40px;
            }
        }
    </style>

    <div class="container">
        <div class="checkmark">✔</div>
        <form action="/update_balances" method="POST">
            <h1>Do you want to update each student fee to be added to the new fee?</h1>
            <p>Please enter the new fee amount:</p>
            <div class="form-group">
                          
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            id="largeInput"
                            placeholder="{{ fee_amount }}"
                          />
                        </div>
            
            <button class="btn btn-success" type="button" onclick="location.href='{{ url_for('index') }}'" aria-label="Go back to the index page">Back</button>
            <button class="btn btn-danger" type="submit" aria-label="Continue to update balances">Continue</button>
        </form>
    </div>
{% endblock %}
