{% extends "admin_dashboard.html" %}

{% block content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Students</title>



    <script>
        function redirectToMarkEntry(admission_no) {
            console.log("Redirecting to:", admission_no);
            window.location.href = `/${admission_no}`;
        }
    </script>

    <h1>Student List</h1>

    <div class="table-cont">
        <table>
            <thead>
                <tr>
                    <th>Admission Number</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr onclick="redirectToMarkEntry('{{ student[0] }}')">
                    <td>{{ student[0] }}</td>
                    <td>{{ student[1] }}</td>
                    <td>{{ student[2] }}</td>
                    <td>{{ student[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
